NET "OUT_LEDS<0>" LOC "U16";
NET "OUT_LEDS<1>" LOC "V16";
NET "OUT_LEDS<2>" LOC "U15";
NET "OUT_LEDS<3>" LOC "V15";
NET "OUT_LEDS<4>" LOC "M11";
NET "OUT_LEDS<5>" LOC "N11";
NET "OUT_LEDS<6>" LOC "R11";
NET "OUT_LEDS<7>" LOC "T11";

NET "IN_PUSH<0>" LOC "T10";
NET "IN_PUSH<0>" LOC "T9";
NET "IN_PUSH<0>" LOC "V9";
NET "IN_PUSH<0>" LOC "M8";
NET "IN_PUSH<0>" LOC "N8";
NET "IN_PUSH<0>" LOC "U8";
NET "IN_PUSH<0>" LOC "V8";
NET "IN_PUSH<0>" LOC "T5";